*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; }

html {
    box-sizing: border-box;
    font-size: 62.5%;
}


body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    align-items: center;
    margin: 0 auto;
}

.Loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15rem;
    width: 15rem;

}

.Chat {
    max-width: 120rem;
    margin: 0 auto;
    font-size: 1.4rem;
}

.Header {
    display: flex;
    border-bottom: 1px solid gray;
}

.Header p {
    margin-right: 2rem;
}

.MessageList li {
    list-style: none;
}

.message {
    display: flex;
    flex-direction: column;
}

.message img{
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
}

.message-main {
    display: flex;
    flex-direction: row;
}

.message-data {
    display: flex;
    flex-direction: column;
}

.message-user {
    display: flex;
    flex-direction: row;
}

.message-user p {
    margin-right: 2rem;
}

.message-edit {
    display: flex;
}

.message-edit p{
    margin-right: 1rem;
}

.Separator {
    display: flex;

}

.left-line {
    display: flex;
    align-items: center;
    width: 45%;
}

.line {
    height: 1px;
    width: 100%;
    background-color: gray;
}

.right-line {
    display: flex;
    align-items: center;
    width: 45%;
}

.separator-date {
    width: 10%;
    text-align: center;
}

.MesaageInput {
    display: flex;
}

.MesaageInput input{
    margin-right: 1rem;
}

.edit-show {
    display: none;
}

.message-data:hover  .edit-show {
    display: block;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    font-size: 15px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.EditMessage {
    /*position: absolute;*/
    /*top:0;*/
    /*left:0;*/
    /*height:100vh;*/
    /*width: 100vh;*/
    /*z-index:101;*/
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EditMessage p {
    margin-top: 3rem;
    font-size: 2rem;
}

.EditMessage textarea {
    margin-top: 3rem;
    width: 90%;
    height: 70%;
}

.EditMessage button {
    margin-top: 3rem;
    color: #fff;
    padding: 1rem;
    border-radius: 3px;
    background-color: #2b88d9;
    font-size: 1.6rem;
    width: 10rem;
}



/*Login*/
.login-container {
    display: flex;
    height: 100vh;
    background-color: #FAFAFA;
    flex-direction: column; }

.app-name {
    font-size: 2.5rem;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center; }
.app-name__h1 {
    font-weight: 300; }
.app-name__h6 {
    font-size: 1.5rem;
    font-weight: 300; }

.hello-box {
    margin: auto;
    margin-top: 1rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(50, 50, 50, 0.08);
    width: 37rem; }
.hello-box__email {
    width: 100%;
    border-bottom: 1px solid #eee;
    line-height: 1.5rem; }
.hello-box__password {
    width: 100%;
    border-bottom: 1px solid #eee;
    line-height: 1.5rem; }
.hello-box__input {
    padding: 2rem;
    line-height: 1.5rem;
    width: 100%;
    font-size: 1.6rem;
    border: none; }
.hello-box__input:focus {
    outline: none; }
.hello-box__login {
    margin-top: 1rem;
    padding: 0 1rem;
    width: 100%; }
.hello-box__button {
    color: #fff;
    padding: 1rem;
    border-radius: 3px;
    background-color: #2b88d9;
    font-size: 1.6rem;
    width: 100%; }
.hello-box__button:focus {
    outline: none; }
.hello-box__register {
    margin: 1.5rem;
    font-size: 1.3rem; }
.hello-box__link:link, .hello-box__link:visited {
    color: #1b7edf;
    text-decoration: none; }

.register-container {
    display: flex;
    height: 100vh;
    background-color: #FAFAFA;
    flex-direction: column; }

.app-name {
    font-size: 2.5rem;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center; }
.app-name__h1 {
    font-weight: 300; }
.app-name__h6 {
    font-size: 1.5rem;
    font-weight: 300; }

.hello-box {
    margin: auto;
    margin-top: 1rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(50, 50, 50, 0.08);
    width: 37rem; }
.hello-box__email {
    width: 100%;
    border-bottom: 1px solid #eee;
    line-height: 1.5rem; }
.hello-box__password {
    width: 100%;
    border-bottom: 1px solid #eee;
    line-height: 1.5rem; }
.hello-box__input {
    padding: 2rem;
    line-height: 1.5rem;
    width: 100%;
    font-size: 1.6rem;
    border: none; }
.hello-box__input:focus {
    outline: none; }
.hello-box__login {
    margin-top: 1rem;
    padding: 0 1rem;
    width: 100%; }
.hello-box__button {
    color: #fff;
    padding: 1rem;
    border-radius: 3px;
    background-color: #2b88d9;
    font-size: 1.6rem;
    width: 100%; }
.hello-box__button:focus {
    outline: none; }
.hello-box__register {
    margin: 1.5rem;
    font-size: 1.3rem; }
.hello-box__link:link, .hello-box__link:visited {
    color: #1b7edf;
    text-decoration: none; }

.usersEdit {
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonAdd {
    margin-top: 3rem;
    color: #fff;
    padding: 1rem;
    border-radius: 3px;
    background-color: #2b88d9;
    font-size: 1.6rem;
    width: 10rem;
}

.chatLink {
    font-size: 2rem;
}

.notification {
    position:fixed;
    top: 0px;
    display: block;
    z-index: 99999;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: #c0392b;
    color: #fff;
    font-size: 25px;
    text-align: center;
    box-shadow: 0 8px 6px -6px black;
    transition: top 1s;
}